*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.logo h4::first-letter{
    text-decoration: underline;
    -webkit-text-decoration-color: #EC5493; /* Safari */  
    text-decoration-color: #EC5493;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    
}

.card-body{
    text-align: center;
}

.card-title{
    margin-top: 5px;
    font-size: 25px;
}

.card-purple{
    border: 2px solid #EC5493;
}

.card-green{
    border: 2px solid #727272;
}

.card-blue{
    border: 2px solid #99ACD7;
}

.btn-green{
    background-color: #ffffff;
    color: #727272;
    border: 1px solid #727272;
}

.btn-green:hover{
    background-color: #727272;
    border: 1px solid #727272;
}

.btn-green:focus, .btn-green:active{
    background-color: #727272;
    border: 1px solid #727272;
}

.btn-purple{
    background-color: #ffffff;
    color: #EC5493;
    border: 1px solid #EC5493;
}

.btn-purple:hover{
    background-color: #EC5493;
    border: 1px solid #EC5493;
}

.btn-blue{
    color: #99ACD7;
    background-color: #ffffff;
    border: 1px solid #99ACD7
}

.btn-blue:hover{
    background-color: #99ACD7;
    border: 1px solid #99ACD7;
}

.dot-purple {
    vertical-align: middle;
    color: #ffffff;
    height: 50px;
    width: 50px;
    background-color: #EC5493;
    border-radius: 50%;
    display: inline-block;
    line-height:15px;
}

.dot-green {
    color: #ffffff;
    height: 50px;
    width: 50px;
    background-color: #727272;
    border-radius: 50%;
    display: inline-block;
}
.dot-blue {
    color: #ffffff;
    height: 50px;
    width: 50px;
    background-color: #99ACD7;
    border-radius: 50%;
    display: inline-block;
}

.big-circle{
     position: absolute;
     top: 0px;
     right: 0px;
     z-index: -1;
     opacity: 0.7;
     height: 65%;
}

.mid-circle{
    position: absolute;
    top: 25%;
    right: 25%;
    z-index: -1;
    height: 60%;
}

.small-circle{
    position: absolute;
    top: -150px;
    left: -150px;
    z-index: -1;
    transform: scale(0.5);
}

.lower-circle{
    position: absolute;
    bottom: -200px;
    left: -120px;
    z-index: -1;
    height: 50%;
}

.margin-top{
    margin-top: 2%;
}

.svg-margin{
    margin-top: 13px;
    margin-left: 1px;
    font-size: 25px;
}

.title-purple{
    text-decoration: underline;
    -webkit-text-decoration-color: #EC5493; /* Safari */  
    text-decoration-color: #EC5493;
}

.title-green{
    text-decoration: underline;
    -webkit-text-decoration-color: #727272; /* Safari */  
    text-decoration-color: #727272;
}

.title-blue{
    text-decoration: underline;
    -webkit-text-decoration-color: #99ACD7; /* Safari */  
    text-decoration-color: #99ACD7;
}

.about{
    text-align: center;
}

.title-about ,.title-products{
    text-decoration: underline;
    -webkit-text-decoration-color: #EC5493; /* Safari */  
    text-decoration-color: #EC5493;
}

.title-products{
    text-align: center;
    margin-top: 50px;
}

.section-margin{
    margin-top: 45vh;
}

.text-about{
    text-align: center;
    margin-top: 30px;
}

.div-text-about{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 75vh;
    margin: auto;
}

.pp{
    margin-left: 50px;
    max-width: 150px;
    border-radius: 50%;
    border: 3px solid rgb(187, 187, 187);
}

.slideanim {visibility:hidden;}
.slide {
  animation-name: slide;
  -webkit-animation-name: slide; 
  animation-duration: 1s; 
  -webkit-animation-duration: 1s;
  visibility: visible; 
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    transform: translateY(0%);
  } 
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

.alert {
    padding: 3px;
    background-color: #99ACD7;
    color: white;
    margin-bottom: 4px;
    font-size: 12px;
    text-align: center;
    border-radius: 0%;
}
  
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.big-lower-circle{
    position: absolute;
    bottom: -900px;
    right: -125px;
    z-index: -1;
    opacity: 0.7;
    height: 55%;
    transform: rotate(90deg);
}

.margin-top-high{
    margin-top: 30px;
}

footer{
    line-height: 40px;
    text-align: center;
    background-color: #EC5493;
    color: #ffffff;
}

.nav-links-purple:hover{
    text-decoration: underline;
    -webkit-text-decoration-color: #EC5493; /* Safari */  
    text-decoration-color: #EC5493;
}

.progress-container {
    width: 100%;
    height: 10px;
    background: #ccc;
  }
  
  
  .progress-bar {
    height: 10px;
    background: #EC5493;
    width: 0%;
  }
  
  .progress-container {
    position: fixed;
    bottom: 0px;
  }


  @media only screen and (max-width: 575px) {
    .card {
        margin-left: 10px;
        margin-right: 20px;
    }

    .col-sm-2{
        margin-bottom: 10px;
    }

    body{
        overflow-x: hidden;
    }

    .row{
        vertical-align: center;
    }

    .big-lower-circle{
        position: absolute;
        z-index: -1;
        left: -100px;
        height: 50%;
        transform: rotate(90deg);
    }

    .logo{
        margin-left: 40px;
    }

    .nav-links{
        display: none;
    }
  }
  
.email-link{
    text-decoration: underline;
    -webkit-text-decoration-color: #EC5493;
    text-decoration-color: #EC5493;
    color: black;
}

.email-link:hover{

    color: #5f5f79;
}

.small-lower-circle{
    position: absolute;
    bottom: -900px;
    left: -150px;
    z-index: -1;
    transform: scale(0.5);
}

.card-price-purple{
    color: #EC5493;
}

.card-price-green{
    color: #727272;
}

.card-price-blue{
    color: #99ACD7;
}

.not-included{
    color: lightgray;
}

/* New navbar */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
}

.logo{
    color: #ffffff;
    font-size: 130px !important;
    font-family: 'Plaster', cursive;
    font-weight: 400;
    letter-spacing: 1px;
    /* text-decoration: underline;
    -webkit-text-decoration-color: #EC5493;
    text-decoration-color: #EC5493; */
}

.nav-links{
    display: flex;
    width: 25%;
    justify-content: space-around;
}

.nav-links li{
    position: relative;
}

.fancy-link::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #EC5493;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 250ms ease-in;
}

.fancy-link:hover::after {
    transform: scaleX(1);
}

.nav-links a{
    color: #ffffff;
    text-decoration: none;
}

.nav-links li{
    list-style: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: #000000;
    margin: 5px;
    transition: all 0.3s ease;
}

.burger{
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 1024px){
    .nav-links{
        display: flex;
        width: 50%;
        justify-content: space-around;
    }
}

@media screen and (max-width: 768px){
    html, body{
        overflow-x: hidden !important;
    }

    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgba(255, 255, 255, 0.95);
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        /* border-left: 2px solid #5f5f79;
        border-bottom: 2px solid #5f5f79; */
    }

    .nav-links li{
        opacity: 0;
    }

    .nav-links a, .logo {
        color: black;
    }

    .burger{
        display: block;
    }

    nav{
        background-color: rgba(255, 255, 255, 0.95);
        /* border-bottom: 2px solid #5f5f79; */
    }

    .col-sm-4 {
        margin-bottom: 20px;
        justify-content: center;
        margin-left: 22px;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinksFade{
    from{
        opacity: 0;
        transform: translateX(50px)
    }
    to{
        opacity: 1;
        transform: translateX(0px)
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

.socials a{
    color: #EC5493;
    text-decoration: none;
    margin: 15px;
}

/* slidein intro */

.intro{
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    background: #e7e7e7;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    transform: translateY(100%);
    overflow-x: hidden;
}

.intro-text{
    color: #c7c7c7;
    font-family: 'Heebo', sans-serif;
    font-size: 3rem;
}

.intro-text span{
    text-decoration: underline;
    -webkit-text-decoration-color: #EC5493;
    text-decoration-color: #EC5493;
}

.hide{
    background:white;
    overflow: hidden;
}

.hide span{
    transform: translateY(100%);
    display: inline-block;
}

/* langding page  */

.landing{
    min-height: 100vh;
    background: url(/img/background.jpeg);
    background-size: cover;
    border-bottom: 10px solid #EC5493;
}

.big-text{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    color: white;
    text-decoration: underline;
    -webkit-text-decoration-color: #EC5493; /* Safari */  
    text-decoration-color: #EC5493;
}

.nav-links-black a{
    color: black;
}

.logo-black{
    color: black;
}

.title-text {
    margin-top: 5vh;
    text-decoration: underline;
    -webkit-text-decoration-color: #EC5493; /* Safari */  
    text-decoration-color: #EC5493;
    justify-content: center;
    text-align: center;
}

.header-text p {
    text-align: center;
}

.header-text {
    margin-top: 5vh;
}

/* .card-image{
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.image-middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .card-image {
    opacity: 0.3;
}
  
.container:hover .image-middle {
    opacity: 1;
}

.image-text {
    background-color: #EC5493;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

  .image-text a {
      color: white;
      text-decoration: none;
  } */


/* swup */

.transition-fade {
    opacity: 1;
    transition: 500ms;
    transform: translateX(0);
    transform-origin: left;
}

html.is-animating .transition-fade{
    opacity: 1;
    transform: translateX(100%);
}

html.is-leaving .transition-fade{
    opacity: 0;
    transform: translateX(0);
}

.header a{
    color: rgb(192, 192, 192);
}

.arrow-margin-left{
    margin-right: 5vh;
}

.arrow-margin-right{
    margin-left: 5vh;
}